<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Akhil Gupta
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL)
 * This is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/OSL-3.0  Open Software License (OSL)
 *
 * DISCLAIMER**
 *
 * @category   Simple JAVA Web CHAT APPLICATION
 * @package    Simple JAVA Web CHAT APPLICATION
 * @url       https://www.youtube.com/user/thisisakhilgupta/
 * @author    Akhil Gupta
 */
-->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">

	<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Chat</servlet-name>
    <servlet-class>Chat</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChatStore</servlet-name>
    <servlet-class>ChatStore</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReloadData</servlet-name>
    <servlet-class>ReloadData</servlet-class>
  </servlet>

   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Group</servlet-name>
    <servlet-class>Group</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReloadDataGroup</servlet-name>
    <servlet-class>ReloadDataGroup</servlet-class>
  </servlet>

   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteLastItem</servlet-name>
    <servlet-class>DeleteLastItem</servlet-class>
  </servlet>

   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Friends</servlet-name>
    <servlet-class>Friends</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReloadFriends</servlet-name>
    <servlet-class>ReloadFriends</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>Chat</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ChatStore</servlet-name>
    <url-pattern>/chatstore</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ReloadData</servlet-name>
    <url-pattern>/reloaddata</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Group</servlet-name>
    <url-pattern>/group</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ReloadDataGroup</servlet-name>
    <url-pattern>/reloaddatagroup</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
    <servlet-name>DeleteLastItem</servlet-name>
    <url-pattern>/deletelastitem</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/fileuploadservlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Friends</servlet-name>
    <url-pattern>/friends</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ReloadFriends</servlet-name>
    <url-pattern>/reloadfriends</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>
