.module {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: -2;
  border: 2px solid black;
}
.check_icon::before {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 90px;
  position: absolute;
  z-index: -2;
}
.square1 {
  width: 90px;
  height: 90px;
  left: 0;
  background: white;
  position: absolute;
  z-index: -1;
  transition: transform 0.3s ease;
}
.square2 {
  width: 90px;
  height: 90px;
  left: -90px;
  background: white ;
  position: absolute;
  z-index: 0;
  transition: transform 0.3s ease;
}

