.add_item_module {
  width: 65vw;
  height: 47.5vw;
  border: 2px solid black;
  border-radius: 2%;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  overflow-y: auto;
  scrollbar-width: none;
}

.add_item_photo_container {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  position: relative;
  width: 95%;
  border: 7.5px 7.5px;
  left: 50%;
  transform: translateX(-50%);
  gap: 15px;
  top: 5%;
}

.photo_item {
  scroll-snap-align: start;
  width: 15%;
  height: 15%;
  box-shadow: 0 0px 4px black;
}